<div class="page_content">
  <%= form_for @service do |f| %>
    <% if @service.errors.any? %>
      <div>
        <h2><%= pluralize(@service.errors.count, "error") %> prohibited this info from being saved:</h2>
        <ul>
          <% @service.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class='page_content'>
      <div class="row">
        <h1 class="form_header">Update Service</h1>
      </div>
      <div class="row">
        <%= f.label :name, 'Name', class: 'form-actions' %>
        <%= f.text_field :name, class: 'text_field' %>
      </div>
      <div class="row">
        <%= f.label :price, 'Price', class: 'form-actions' %>
        <%= f.text_field :price, class: 'text_field' %>
      </div>
      <div class="row">
        <%= f.label :time, 'Time', class: 'form-actions' %>
        <%= f.text_field :time, class: 'text_field' %>
      </div>
      <div class="row">
        <%= f.label :description, 'Description', class: 'form-actions' %>
        <%= f.text_area :description, class: 'text_area' %>
      </div>
        <%= f.label :catagory, 'Catagory', class: 'form-actions' %>
        <%= f.select :catagory, options_for_select([['Facial', 'facial'], ['Waxing', 'waxing'], ['Makeup', 'makeup'], ['Miscellaneous', 'misc']]) %>
      </div>
      <div class="form-actions">
        <%= f.button 'Update' %>
      </div>
    </div>
  <% end %>
</div>
