<div class="page_header">
  <h1>Services</h1>
</div>
<div class="page_content">
  <% if user_signed_in? %>
    <h2><%= link_to 'Add New Service', new_service_path %></h2>
  <% end %>
  <div class="grid-container">
    <%  @services.each do |s| %>
    <% if user_signed_in? %>
      <%= link_to edit_service_path(s.id) do  %>
        <i class="far fa-edit fa-2x"></i>
      <% end %>
      <%= link_to service_path(s.id), data: { confirm: "Are you sure?" }, method: :delete do %>
        <i class="far fa-trash-alt fa-2x"></i>
      <% end %>
    <% end %>
      <h3 class="service_left"> <%= s.name %></h3>
      <h3 class="service_right"> <%= s.price %></h3>
    <% end %>
  </div>
</div>
