<div class="page_header">
  <h1>Melissa's Blog</h1>
</div>

<div class="container">
  <% if user_signed_in? %>
    <h2><%= link_to 'Add New Post', new_post_path %></h2>
  <% end %>
  <%  @posts.each do |p| %>
    <div class="card">
      <div class="card-image">
        <div class="center_pic">
          <br>
          <figure class="image is-128x128">
            <%= image_tag(p.picture.url) %>
          </figure>
        </div>
      </div>
      <br>
      <div class="card-content">
        <div class="content">
          <%= p.body %>
          <br>
          <time><%= p.created_at.strftime("%B %d, %Y") %></time>
        </div>
      </div>
    </div>
    <% if user_signed_in? %>
      <%= link_to edit_post_path(p.id) do  %>
        <i class="far fa-edit fa-2x"></i>
      <% end %>
      <%= link_to post_path(p.id), data: { confirm: "Are you sure?" }, method: :delete do %>
        <i class="far fa-trash-alt fa-2x"></i>
      <% end %>
    <% end %>
    <br>
  <% end %>
  <div class="apple_pagination">
    <%= will_paginate @posts %>
  </div>
</div>
