<div class="page_header">
  <div class="title has-text-warning">
    <h1>Melissa's Blog</h1>
  </div>
</div>

<div class="container">
  <% if user_signed_in? %>
    <h2><%= link_to 'Add New Post', new_post_path %></h2>
  <% end %>
  <%  @posts.each do |p| %>
    <div class="card">
      <div class="card-image">
        <br>
        <% if p.media_type == 'picture' %>
          <div class="center_pic">
            <figure class="image">
              <%= image_tag(p.picture.url) %>
            </figure>
          </div>
        <% elsif p.media_type == 'video' %>
          <div class="center_video">
              <video controls width="640" height="480" src="<%= p.video %>"></video>
          </div>
        <% end %>
      </div>
      <br>
      <div class="card-content">
        <div class="subtitle has-text-white">
          <%= p.body %>
          <br>
          <time><%= p.created_at.strftime("%B %d, %Y") %></time>
        </div>
      </div>
    </div>
    <% if user_signed_in? %>
      <%= link_to edit_post_path(p.id) do  %>
        <i class="far fa-edit fa-2x"></i>
      <% end %>
      <%= link_to post_path(p.id), data: { confirm: "Are you sure?" }, method: :delete do %>
        <i class="far fa-trash-alt fa-2x"></i>
      <% end %>
    <% end %>
    <br>
  <% end %>
  <div class="apple_pagination">
    <%= will_paginate @posts %>
  </div>
</div>
