<!DOCTYPE html>
<html>
  <head>
    <viewport>
    <title>Blush Esthetics Studio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height">

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <script src="https://kit.fontawesome.com/fe581ab890.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
      <div class='top_menu'>
        <div class="grid-container">
            <p><%= link_to "Home", new_user_path, {class: 'header_links'} %></p>
          </div>
          <div class='grid-item'>
            <p><%= link_to "About", profiles_path, {class: 'header_links'} %></p>
          </div>
          <div class='grid-item'>
            <p><%= link_to "Services", services_path, {class: 'header_links'} %></p>
          </div>
          <div class='grid-item'>
            <p><%= link_to "Blog", posts_path, {class: 'header_links'} %></p>
          </div>
          <div class='grid-item'>
            <p><%= link_to "Contact", contacts_path, {class: 'header_links'} %></p>
          </div>
        </div>
    </header>
    <%= yield %>
    <footer>
      <% if user_signed_in? %>
        <%= link_to destroy_user_session_path, {method: :delete} do %>
          <i class="fas fa-cat"></i>
        <% end %>
      <% else %>
        <%= link_to new_user_session_path do %>
          <i class="fas fa-cat"></i>
        <% end %>
      <% end %>
    </footer>
  </body>
</html>
