<!DOCTYPE html>
<html>
  <head>
    <title>Melissa</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <header>
      <div class='top_menu'>
        <div class="grid-container">
            <p><%= link_to "Home", new_user_path, {class: 'header_links'} %></p>
          </div>
          <div class='grid-item'>
            <p><%= link_to "About", profiles_path, {class: 'header_links'} %></p>
          </div>
          <div class='grid-item'>
            <p><%= link_to "Services", services_path, {class: 'header_links'} %></p>
          </div>
          <div class='grid-item'>
            <p><%= link_to "Blog", posts_path, {class: 'header_links'} %></p>
          </div>
          <div class='grid-item'>
            <p><%= link_to "Contact", contacts_path, {class: 'header_links'} %></p>
          </div>
        </div>
    </header>
    <%= yield %>
  </body>
</html>
